<!DOCTYPE html>
<html lang="ja">

<%- include("./head.ejs", 'bcrypt_password.ejs') %>

<body>
    <p>password</p>
    <%- hashPass %>

    <p>check pass</p>
    <input type="password">
    <button class="checkPass">check input pass</button>
    <p class="checkResult"></p>
</body>

<script>
    const passInput = document.querySelector('[type="password"]');
    const checkPassBtn = document.querySelector('.checkPass');
    const checkResult = document.querySelector('.checkResult');

    checkPassBtn.addEventListener('click', async () => {
        const postData = await fetch('/bcrypt/check_pass', {
                                    method: 'post',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        hashPass: passInput.value
                                    })
                                })
                                .then((res) => {
                                    console.log(res);

                                    return res.json();
                                });

        checkResult.textContent = postData.error === '' ? 'match!' : postData.error;
    });
</script>
</html>