<!DOCTYPE html>
<html lang="ja">

<%- include("./head.ejs", title) %>

<body>
    <h1>mypage</h1>
    <form action="/auth/logout" method="post">
        <button type="submit">logout</button>
    </form>
</body>
</html>
